.container-fluid {
    height: 100vh;
}

.row {
    height: 80vh;
}

#numeroCarta {
    font-family: serif;
    font-size: 200px;
    
}

.card {
    width: 50vh;
    height: 80vh;
}


.iconTop {
    font-size: 80px 
}

.iconBottom {
    font-size: 80px;
    transform: rotate(180deg);
}

/*.btn-success:hover {
    background-color: #2fbc40;
    border-color: #e74c3c;
  }*/